*, *::before, *::after {
  box-sizing: border-box;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}



.btn { /* Общий стиль кнопок сайта */
  display: inline-block;
  vertical-align: top;
  height: 46px;
  padding: 11px 22px;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 23px;
  border: none;
  outline: none;
  box-shadow:  0 1px 3px 0 #ac1000;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.btn:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 3px 0 #942718;
}



body {
  min-width: 900px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
  color: white;
}

.wrap { /* Нужен для работы слайдера: смена фона страницы */
  min-width: 900px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  padding: 0 2.25%;
  margin: 0 auto;
}



  /* Header */

.item-list,
.filters {
  outline: 2px dotted blue;
}

.logo {
  float: left;
  width: 153px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: -5px;
}

.main-nav {
  float: left;
  width: 380px;
  margin-top: 22px;
}

.main-menu {
  margin-left: -15px;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 15px;
}

.main-menu a {
  display: block;
  padding: 8px 13px;
  text-decoration: none;
  color: #ffffff;
}

.main-menu .active {
  background-color: #d07058;
}

.main-menu > li:not(.active):hover {
  background-color: #ffffff;
  cursor: pointer;
}

.main-menu > li:not(.active):hover a {
   color: #000000;
}

.main-menu > li:not(.active):active {
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: inset 0 1px 3px 0 #000000;
}

.main-menu > li:hover .sub-menu { /* Отображает суб-меню при наведении на кнопку */
  display: block;
}

.sub-menu { /* Подменю */
  position: absolute;
  z-index: 100;
  left: -7px;
  top: 40px;
  margin: 0;
  list-style: none;
  background: #ffffff;
  font-size: 14px;
  line-height: 16px;
  width: 143px;
  border-radius: 5px;
  display: none;
  text-indent: 7px;
  padding: 5px 0;
  font-weight: 400;
}

.sub-menu li:first-child::after { /* Полоска в подменю */
  content: '';
  display: block;
  height: 1px;
  margin-left: 6px;
  margin-right: 9px;
  background-color: #d1d0ce;
}

.sub-menu a {
  color: #000000;
}

.sub-menu::before {
  content: '';
  position: absolute;
  bottom: 100%;
  height: 10px;
  width: 100%;
}

.sub-menu li:hover {
  background-color: #fbded7;
}

.sub-menu li:active {
  background-color: #f6b5a5;
}

.sub-menu .active {
  color: #ffffff;
  background-color: #d07058;
}

.user-block {
  float: right;
  width: 280px;
  margin-top: 23px;
  text-align: right;
  font-size: 0;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}

.user-block > div {
  margin-right: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.user-block > div:last-child {
  margin-right: 0;
}

.search { /* Кнопка поиска */
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 32px;
  height: 32px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2) url("../img/icons/search-icon.svg") center no-repeat;
  border-radius: 50%;
}

.search:hover {
  background: #f8f7f4 url("../img/icons/search-icon-hover.svg") center no-repeat;
}

.search:hover .search-field {
  display: block;
}

.search-field {
  display: none;
  width: 340px;
  height: 84px;
  background-color: #f8f7f4;
  position: absolute;
  top: 37px;
  right: 0px;
  z-index: 10;
  border-radius: 5px;
}

.search-field::before {
  content: '';
  position: absolute;
  bottom: 100%;
  height: 37px;
  width: 50%;
  right: 0;
}

.search-field input {
  width: 90%;
  margin-top: 20px;
  line-height: 42px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 14px;
}

.login { /* Кнопка логина */
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 92px;
  height: 32px;
  padding-top: 9px;
  padding-right: 16px;
  padding-left: 45px;
  background: rgba(255, 255, 255, 0.2) url("../img/icons/login-icon.svg") 20% center no-repeat;
  border-radius: 25px;
}

.login-field {
  display: none;
  width: 277px;
  height: 214px;
  background-color: #f8f7f4;
  position: absolute;
  top: 37px;
  right: 0px;
  z-index: 10;
  border-radius: 5px;
  font-size: 14px;
}

.login-field input {
  display: block;
  width: 86.7%;
  margin: 20px auto;
  line-height: 42px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  padding: 0 14px;
}

.login-field button {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.login-field p {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}

.login-field a {
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid #adacaa;
}

.login:hover {
  background: #f8f7f4 url("../img/icons/login-icon-hover.svg") 20% center no-repeat;
  color: #000000;
}

.login:hover .login-field {
  display: block;
}

.login-field::before {
  content: '';
  position: absolute;
  bottom: 100%;
  height: 37px;
  width: 36%;
  right: 0;
}

.cart { /* Корзина */
  position: relative;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: 117px;
  height: 32px;
  padding-top: 9px;
  padding-right: 16px;
  padding-left: 45px;
  background: rgba(255, 255, 255, 0.2) url("../img/icons/basket.svg") 20% center no-repeat;
  border-radius: 25px;
}

.cart.cart-full {
  color: #323232;
  background: #f7f6f3 url("../img/icons/basket-full.svg") 20% center no-repeat;
}

.cart-field {
  display: none;
  width: 540px;
  min-height: 240px;
  background-color: #ffffff;
  position: absolute;
  top: 37px;
  right: 0px;
  z-index: 10;
  border-radius: 5px;
  padding: 20px 9px 80px 17px;
}

.cart:hover .cart-field {
  display: block;
}

.cart-field::before {
  content: '';
  position: absolute;
  bottom: 100%;
  height: 37px;
  width: 23%;
  right: 0;
}

.cart-list { /* Список в корзине сделан таблицей */
  display: table;
  font-size: 13px;
  font-weight: 400px;
}

.cart-list ul {
  display: table-row;
}

.cart-list li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cart-list ul li:nth-child(3) {
  text-align: left;
}

.column1 {
  display: table-column;
  width: 2%;
}

.column2 {
  display: table-column;
  width: 10%;
}

.column3 {
  display: table-column;
}

.column4 {
  display: table-column;
  width: 25%;
}

.column5 {
  display: table-column;
  width: 20%;
}

.checkout { /* Кнопка "Оформить заказ" */
  position: absolute;
  bottom: 19px;
  right: 12px;
}

.breadcrumbs { /* Хлебные крошки */
  float: left;
  width: 300px;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  color: #ffffff;
}

.call-us {
  clear: both;
  float: right;
  text-align: right;
  width: 267px;
  margin-top: -5px;
}

.call-us p {
  margin: 0 0 4px 0;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-num {
  font-size: 22px;
  line-height: 24px;
  font-weight: 800;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

  /* Main */

          /* Слайдер. START */

.slider {
  position: relative;
  height: 525px;
  padding-top: 270px;
  margin: 0 auto;
}

.slide1, /* Область текста слайдера с кнопкой */
.slide2,
.slide3 {
  display: none;
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  text-align: center;
}

.slide1 a, /* Кнопка слайдера */
.slide2 a,
.slide3 a  {
  height: 63px;
  padding: 8px 40px;
  margin-top: 31px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 32px;
}

input[type="radio"] { /* Скрываем стандартные радио-кнопки */
  display: none;
}

.slider-controls { /* Область для собственных кнопок слайдера */
  position: absolute;
  bottom: 52px;
  font-size: 0;
}

.slider-controls label { /* Создаем новые кнопки для слайдера */
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

#slide1:checked ~ .wrap .slider-controls label[for="slide1"], /* Закрашиваем активную кнопку */
#slide2:checked ~ .wrap .slider-controls label[for="slide2"],
#slide3:checked ~ .wrap .slider-controls label[for="slide3"] {
  background-color: #ffffff;
}

#slide1:checked ~ .wrap {
  background: #849d8f url("../img/sliders/ice-slider1.png") 50% 0 no-repeat;
}
#slide2:checked ~ .wrap { /* Когда нажата вторая кнопка, изменится фон и картинка обертки .wrap */
  background: #8996a6 url("../img/sliders/ice-slider2.png") 50% 0 no-repeat;
}
#slide3:checked ~ .wrap {
  background: #9d8b84 url("../img/sliders/ice-slider3.png") 50% 0 no-repeat;
}
#slide1:checked ~ .wrap .slider-slides .slide1 {
  display:block;
}

#slide2:checked ~ .wrap .slider-slides .slide2 { /* Когда нажата вторая кнопка, будет показан текст и кнопка второго слайдера */
  display:block;
}
#slide3:checked ~ .wrap .slider-slides .slide3 {
  display:block;
}

          /* Слайдер. END */


.promo-block {
  margin-bottom: 40px;
}

.promo-left {
  position: relative;
  float: left;
  width: 48.867%;
  min-height: 229px;
  padding: 16px 18px 88px 18px;
  background: url("../img/rapsberry-bg.jpg");
  border-radius: 15px;
}

.promo-right {
  position: relative;
  float: right;
  width: 48.867%;
  min-height: 229px;
  padding: 16px 18px 88px 18px;
  background: url("../img/choco-bg.jpg");
  border-radius: 15px;
}

.promo-left h1,
.promo-right h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.promo-left p,
.promo-right p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 15px;
}

.promo-btn {
  position: absolute;
  right: 22px;
  bottom: 24px;
}

.items-popular, .item-list {
  font-size: 0;
}

.item {
  display: inline-block;
  vertical-align: top;
  width: 23.299%;
  margin-right: 2.269%;
  font-size: 16px;
  margin-bottom: 40px;
}

.item:nth-child(4n) {
  margin-right: 0;
}

.items-popular .item::before {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: url(../img/icons/popular-icon.png);
  z-index: 10;
}

.item a {
  display: block;
  color: #ffffff;
  text-align: center;
}


.item-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.item-img-price {
  position: relative;
  max-height: 267px;
  margin-bottom: 12px;
}

.item-img-price p {
  position: absolute;
  bottom: 10px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.item-img-price p b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.rouble {
  width: 27px;
  height: 32px;
}

.quick-show {
  display: none !important;
}

.advantages {
  padding: 24px 21px 14px 21px;
  margin-bottom: 40px;
  background: url("../img/texture-wafer.png");
  border-radius: 15px;
  color: #323232;
}

.advantages h1 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages img {
  float: left;
}

.advantages p {
  padding-top: 12px;
  padding-bottom: 10px;
  margin: 0;
  margin-left: 56px;
  font-size: 16px;
  line-height: 22px;
}

.advantage-left {
  float: left;
  width: 48.867%;
}

.advantage-right {
  float: right;
  width: 48.867%;
}

.blog-news {
  float: left;
  width: 48.867%;
  min-height: 220px;
  padding: 22px 20px;
  background: #ffffff url("../img/strawberry-bg.jpg") right center no-repeat;
  border-radius: 15px;
}

.blog-news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #5a5a5a;
  margin-bottom: 5px;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #353535;
  background: rgba(255, 255, 255, 0.8);
}

.subscribe {
  float: right;
  width: 48.867%;
  background: #f8f7f4 url("../img/texture-postal.png");
  border-radius: 15px;
  color: #5a5a5a;
}

.subscribe-content-bg {
  position: relative;
  min-height: 210px;
  padding: 29px 21px 21px 21px;
  margin: 5px;
  border-radius: 15px;
  background-color: #f8f7f4;
}

.subscribe form {
  position: absolute;
  bottom: 33px;
  width: 93%;
}

.subscribe form input[type="email"] {
  width: 100%;
  height: 44px;
  padding: 0 14px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
}

.btn-subscribe {
  float: right;
}

.map-block {
  min-height: 430px;
  margin-top: 40px;
  background: url("../img/map.jpg") center no-repeat;
}

.contacts {
  position: relative;
  float: right;
  width: 302px;
  min-height: 305px;
  padding: 29px 31px 40px 24px;
  margin: 62px 0;
  border-radius: 12px;
  color: #323232;
  background-color: #fefefe;

}

.contacts p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
}

.feedback-btn {
  position: absolute;
  bottom: 30px;
  width: 85%;
}

.main-footer {
  min-height: 84px;
  margin-top: 20px;
  font-size: 12px;
}

.social-block {
  float: left;
  width: 23.299%;
  margin-top: 16px;
  margin-right: 2.269%;
}

.social-btn {
  display: block;
  float: left;
  width: 37px;
  height: 37px;
  margin-right: 12px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.twit {
  background: url("../img/icons/twit-icon.svg") no-repeat;
}

.inst {
  background: url("../img/icons/inst-icon.svg") no-repeat;
}

.fb {
  background: url("../img/icons/fb-icon.svg") no-repeat;
}

.vk {
  background: url("../img/icons/vk-icon.svg") no-repeat;
}


.footer-menu {
  float: left;
  width: 48.867%;
  margin-top: 12px;
  font-size: 13px;
}

.footer-menu-left {
  float: left;
  width: 48.5%;
  padding-left: 22%;
}

.footer-menu-right {
  float: right;
  width: 51.5%;
}

.footer-menu-left a, .footer-menu-right a {
  display: block;
  color: #ffffff;
}

.made-in {
  float: right;
  width: 23.299%;
  text-align: right;
}

.htmla-logo {
  margin-right: 80px;
}

.made-in p {
  margin-top: -5px;
}

.page-nav {
  text-align: right;
  font-size: 5px;
}

.page-nav a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 27px;
  height: 27px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  border-radius: 50%;
  text-decoration: none;

}

.page-nav .prev{
  background: url("../img/icons/arrow.svg") center no-repeat;
}

.page-nav .next {
  background: url("../img/icons/arrow.svg") center no-repeat;
}

.page-nav .active {
  color: #000000;
  background: #ffffff;
}

.page-nav .disabled {
  opacity: 0.2;
  transform: rotate(180deg);
}

  /* Filters */

.filters {
  width: 860px;
  margin-bottom: 40px;
  font-size: 0;
}

.filters fieldset {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  outline: none;
  border: none;
}

.sort {

}

.sort select {
  width: 195px;
  height: 36px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2)

}

.price {
  width: 220px;
}

.fatness {
  width: 415px;
}


.filler {
  width: 705px;
}

iframe {
  position: absolute;
}
