body {
  min-width: 900px; 
  margin: 0 auto; 
  font-size: 16px; 
  line-height: 22px; 
  color: #323232; 
  font-weight: normal; 
  font-family: "Roboto Regular", "Arial", sans-serif;   
}

.wrapper {
    max-width: 1200px; 
    margin: 0 auto; 
}

h1 {
  font-size: 24px; 
  line-height: 30px; 
  font-weight: normal; 
  font-family: "Roboto Medium", "Arial", sans-serif; 
}

h2 {
  font-size: 16px; 
  line-height: 22px; 
  color: #5a5a5a; 
  font-weight: normal; 
  font-family: "Roboto Medium", "Arial", sans-serif; 
}

h3 {
  font-size: 24px; 
  line-height: 30px; 
  color: #353535; 
  font-weight: bold; 
}

.container {
  min-width: 860px; 
  max-width: 1146px; 
  margin: 0 auto 40px auto; 
  padding: 0 2.3%; 
  outline: 2px dashed green; 
}

.container:last-child {
  margin-top: 20px; 
  margin-bottom: 25px; 
}

.logo, 
.main-nav, 
.user-block, 
.call-us, 
.breadcrumbs, 
.slider, 
.slider-controls, 
.promo-left, 
.promo-right, 
.items-popular, 
.advantages, 
.blog-news, 
.subscribe, 
.social-block, 
.footer-menu, 
.made-in, 
.item-list, 
.filters {
  outline: 2px dotted blue; 
}

.logo {
  float: left; 
  width: 153px; 
  background-color: grey; 
}

.main-nav {
  float: left; 
  width: 350px; 
  min-height: 73px; 
}

.main-menu li {
  display: inline-block; 
}

.sub-menu {
  display: none; 
}

.user-block {
  float: right; 
  width: 267px; 
  min-height: 73px;
}

.breadcrumbs {
  float: left; 
  vertical-align: bottom; 
  width: 300px; 
}

.breadcrumbs ul li {
  display: inline-block; 
}

.call-us {
  clear: both; 
  float: right; 
  width: 267px; 
}

.clearfix::after {
  content: ""; 
  display: table; 
  clear: both; 
}

.slider {
  margin-bottom: 40px; 
  text-align: center; 
}

.slide2, .slide3 {
  display: none; 
}

.slider-controls {
  display: none; 
  width: 80px; 
}

.promo-block {
  margin-bottom: 40px; 
}

.promo-left {
  float: left; 
  width: 48.8%; 
  min-height: 229px; 
}

.promo-right {
  float: right; 
  width: 48.8%; 
  min-height: 229px; 
}

.items-popular, .item-list {
  margin-bottom: 40px; 
  font-size: 0; 
}

.item {
  display: inline-block; 
  vertical-align: top; 
  width: 23.2%; 
  margin-right: 2.4%; 
  font-size: 1rem; 
  outline: 2px dotted orange; 
}

.item-img-price img {
  max-width: 100%; 
  height: auto;
}

.item:nth-child(4n+4) {
  margin-right: 0; 
}

.advantages {
  margin-bottom: 40px; 
  padding: 20px; 
}

.advantage-left {
  float: left; 
  width: 48.8%; 
  outline: 2px dotted orange; 
}

.advantage-right {
  float: right; 
  width: 48.8%; 
  margin-right: 0; 
  outline: 2px dotted orange; 
}

.blog-news {
  float: left; 
  width: 48.8%; 
  min-height: 220px; 
}

.subscribe {
  float: right; 
  width: 48.8%; 
  min-height: 220px; 
}

.map-block {
  width: 100%; 
  min-height: 430px;  
  margin-top: 40px;  
  margin-bottom: 40px; 
  background-image: url("../img/map.jpg"); 
  outline: 2px solid yellow; 
}

.contacts {
  float: right; 
  width: 302px; 
  min-height: 305px; 
  background-color: #ffffff; 
  outline: 2px solid orange; 
}

.main-footer {
  min-width: 900px; 
}

.social-block, 
.footer-menu, 
.made-in {
  outline: 2px dotted orange; 
}

.social-block {
  float: left; 
  width: 185px; 
}

.footer-menu {
  float: left; 
  width: 326px; 
}

.made-in {
  float: right; 
  width: 188px; 
  background-color: grey; 
}

.page-navigation {
  width: 190px; 
  margin-left: auto; 
  margin-right: 0; 
  outline: 2px dotted black; 
}

.filters {
  width: 860px; 
  margin-bottom: 40px; 
  font-size: 0; 
}

.filters fieldset {
  display: inline-block; 
  vertical-align: top; 
  padding: 0; 
  margin: 0; 
  font-size: 1rem; 
  background-color: gray;
}

.sort {
  width: 195px; 
}

.price {
  width: 220px; 
}

.fatness {
  width: 415px; 
}

.filler {
  width: 705px; 
}
