*, *::before, *::after {
  box-sizing: border-box;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 11px 21px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border: none;
  border-radius: 23px;
  outline: none;
  text-decoration: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.btn:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.link-black {
  text-decoration: none;
  color: #323232;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.link-black:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

input::-webkit-input-placeholder { /*Стилизуем placeholderы*/
  font-weight: 400;
  color: #999999;
  opacity: 1.0;
}

input:-ms-input-placeholder { /*Стилизуем placeholderы*/
  font-weight: 400;
  color: #999999;
  opacity: 1.0;
}

input::-moz-placeholder { /*Стилизуем placeholderы*/
  font-weight: 400;
  color: #999999;
  opacity: 1.0;
}

input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  outline: none;
}

hr {
  height: 1px;
  margin-left: 2.25%;
  margin-right: 2.25%;
  color: rgba(254, 254, 254, 0.3);
  background-color: rgba(254, 254, 254, 0.3);
  border: none;
}

body {
  min-width: 900px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

.wrap { /* Нужен для работы слайдера: смена фона страницы */
  min-width: 900px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.25%;
}

  /* ===============HEADER=============== */

.logo {
  float: left;
  width: 153px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: -5px;
}

.main-nav {
  float: left;
  width: 380px;
  margin-top: 23px;
}

.main-menu {
  margin-left: -15px;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 32px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 20px;
}

.main-menu a {
  display: block;
  margin: 7px 12px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu > li:first-child a{
  margin-left: 14px;
}

.main-menu > li:last-child a{
  margin-left: 12px;
}


.main-menu .active {
  background-color: #d07058;
}

.main-menu .active a {
  border-bottom: none;
}

.main-menu > li:not(.active):hover {
  background-color: #f7f6f3;
  cursor: pointer;
}

.main-menu > li:not(.active):hover a {
  color: #333333;
}

.main-menu > li:not(.active):active {
  background-color: #ededed;
  box-shadow: inset 0 1px 3px 0 #000000;
  cursor: pointer;
}

.main-menu > li:hover .sub-menu { /* Отображает подменю при наведении на кнопку */
  display: block;
}

.sub-menu { /* Подменю */
  position: absolute;
  left: -7px;
  top: 37px;
  z-index: 100;
  display: none;
  min-width: 143px;
  margin: 0;
  padding: 3px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-indent: 7px;
  list-style: none;
  background: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.sub-menu a {
  display: block;
  margin: 0 12px;
  padding: 8px 0;
  color: #323232;
  border-bottom: none;
}

.sub-menu li:first-child {

}

.sub-menu li:first-child a {
  padding-bottom: 11px;
  margin-bottom: 2px;
  border-bottom: 1px solid rgba(53, 53, 53, 0.2);
}

.sub-menu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 10px;
  width: 100%;
}

.sub-menu li:not(.active):hover {
  background-color: #fbded7;
}

.sub-menu li:not(.active):active {
  background-color: #f6b5a5;
}

.sub-menu .active a {
  color: #ffffff;
  background-color: #d07058;
}

.user-block { /* Блок пользователя */
  position: relative;
  float: right;
  width: 280px;
  margin-top: 23px;
  font-size: 0;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
}

.user-block > div {
  margin-right: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.user-block > div:last-child {
  margin-right: 0;
}


.search { /* Кнопка поиска */
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icons/search-icon.svg") center no-repeat;
  transform: translate(-50%, -50%);
}

.search:hover {
  background-color: #f8f7f4;
}

.search:hover .search-icon {
  background: url("../img/icons/search-icon-hover.svg") center no-repeat;
}

.search:hover .search-field {
  display: block;
}

.search-field {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 10;
  display: none;
  width: 340px;
  min-height: 84px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-field::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 50%;
  height: 10px;
}

.search-field input {
  width: 90%;
  margin-top: 20px;
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.login { /* Кнопка логина */
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 32px;
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 44px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.login a {
  text-decoration: none;
  color: #ffffff;
}

.login-icon {
  position: absolute;
  top: 48%;
  left: 51px;;
  width: 100%;
  height: 100%;
  background: url("../img/icons/login-icon.svg") 15% center no-repeat;
  transform: translate(-50%, -50%);
}

.login-field {
  position: absolute;
  top: 36px;
  right: -3px;
  z-index: 10;
  display: none;
  width: 277px;
  height: 214px;
  padding: 0 17px 0 19px;
  font-size: 14px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-field input {
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-field button {
  float: left;
  margin-right: 20px;
  padding: 10px 25px;
  border-radius: 20px;
}

.login-field p {
  margin-top: -2px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.login-field a {
  text-decoration: none;
  color: #323232;
  border-bottom: 1px solid #adacaa;
}

.login:hover {
  background-color: #f8f7f4;
}

.login:hover > a {
  color: #323232;
}

.login:hover .login-icon {
  background: url("../img/icons/login-icon-hover.svg") 15% center no-repeat;
}

.login:hover .login-field {
  display: block;
}

.login-field::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  height: 5px;
  width: 36%;
}

.cart { /* Корзина */
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 117px;
  height: 32px;
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 44px;
  font-size: 14px;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.cart-icon {
  position: absolute;
  top: 51%;
  left: 60px;
  width: 100%;
  height: 100%;
  background: url("../img/icons/basket.svg") 15% center no-repeat;
  transform: translate(-50%, -50%);
}



.cart a {
  text-decoration: none;
  color: #ffffff;
}

.cart-full {
  background-color: #f7f6f3;
}

.cart-full > a {
  color: #313131;
}

.cart-field {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 10;
  display: none;
  padding: 5px 15px 80px 15px;
  width: 540px;
  min-height: 240px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.cart-full .cart-icon {
  background: url("../img/icons/basket-full.svg") 15% center no-repeat;
}

.cart:hover .cart-field {
  display: block;
}

.cart-field::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 23%;
  height: 5px;
}

.cart-list { /* Список в корзине сделан таблицей */
  display: table;
  font-size: 13px;
  font-weight: 400px;
  border-spacing: 0 15px
}

.cart-list ul {
  display: table-row;
}

.cart-list li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cart-list ul li:nth-child(3) {
  text-align: left;
}

.cart-list i {
  font-style: normal;
  color: #999999;
}

.column1 {
  display: table-column;
  width: 2.5%;
}

.column2 {
  display: table-column;
  width: 12.5%;
}

.column3 {
  display: table-column;
}

.column4 {
  display: table-column;
  width: 22.5%;
}

.column5 {
  display: table-column;
  width: 17%;
}

.cart-item-img {
  border-radius: 50%;
}

.cart-field hr {
  height: 1px;
  margin: 5px 0;
  color: #cacac7;
  background-color: #cacac7;
  border: none;
}

.cart-field p {
  margin-top: 14px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: right;
}

.checkout-btn { /* Кнопка "Оформить заказ" */
  position: absolute;
  bottom: 22px;
  right: 15px;
  padding: 10px 15px;
  border-radius: 20px;
}

.call-us {
  position: absolute;
  top: 73px;
  right: 2.25%;
  width: 240px;
  text-align: right;
}

.call-us p {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.call-us b {
  font-size: 22px;
  font-weight: 900;
  line-height: 24px;
}


  /* ===============MAIN=============== */

.breadcrumbs { /* Хлебные крошки */
  display: block;
  width: 300px;
  margin-top: 16px;
  margin-bottom: 2px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: bottom;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  padding-left: 3px;
}

.breadcrumbs li:nth-of-type(2) {
  margin-left: 3px;
  }

.breadcrumbs li:nth-of-type(3) {
  margin-left: 2px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

          /* Слайдер. START */

.slider {
  position: relative;
  height: 568px;
  margin: 0 auto;
  padding-top: 313px;
}

.slide1, /* Область текста слайдера с кнопкой */
.slide2,
.slide3 {
  display: none;
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
}

.slide1 a, /* Кнопка слайдера */
.slide2 a,
.slide3 a  {
  max-width: 400px;
  height: 63px;
  margin-top: 31px;
  padding: 8px 40px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 32px;
}

input[type="radio"] { /* Скрываем стандартные радио-кнопки */
  display: none;
}

.slider-controls { /* Область для собственных кнопок слайдера */
  position: absolute;
  bottom: 63px;
  font-size: 0;
}

.slider-controls label { /* Создаем новые кнопки для слайдера */
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-controls label:active {
  background-color: #ffffff;
}

.slide1:checked ~ .wrap .slider-controls label[for="slide1"], /* Закрашиваем активную кнопку */
.slide2:checked ~ .wrap .slider-controls label[for="slide2"],
.slide3:checked ~ .wrap .slider-controls label[for="slide3"] {
  background-color: #ffffff;
}

.slide1:checked ~ .wrap {
  background: #849d8f url("../img/sliders/ice-slider1.png") 50% 0 no-repeat;
}
.slide2:checked ~ .wrap { /* Когда нажата вторая кнопка, изменится фон и картинка обертки .wrap */
  background: #8996a6 url("../img/sliders/ice-slider2.png") 50% 0 no-repeat;
}
.slide3:checked ~ .wrap {
  background: #9d8b84 url("../img/sliders/ice-slider3.png") 50% 0 no-repeat;
}
.slide1:checked ~ .wrap .slider-slides .slide1 {
  display:block;
}

.slide2:checked ~ .wrap .slider-slides .slide2 { /* Когда нажата вторая кнопка, будет показан текст и кнопка второго слайдера */
  display:block;
}
.slide3:checked ~ .wrap .slider-slides .slide3 {
  display:block;
}

.wrap::before, /* Предзагрузка в кэш изображений слайдера */
.wrap::after {
  content: "";
  visibility: hidden;
}

.wrap::before {
  background-image: url("../img/sliders/ice-slider2.png");
}

.wrap::after {
  background-image: url("../img/sliders/ice-slider3.png");
}

          /* Слайдер. END */

          /* Промо-блок из двух баннеров. START */

.promo-block {
  margin-bottom: 40px;
}

.promo-left {
  position: relative;
  float: left;
  width: 48.867%;
  min-height: 229px;
  padding: 16px 18px 88px 19px;
  background: #c2234d url("../img/rapsberry-bg.jpg") -27px -94px no-repeat;
  border-radius: 15px;
}

.promo-right {
  position: relative;
  float: right;
  width: 48.867%;
  min-height: 229px;
  padding: 16px 18px 88px 19px;
  background: #845642 url("../img/choco-bg.jpg") -218px -104px no-repeat;
  border-radius: 15px;
}

.promo-left h1,
.promo-right h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.promo-left p,
.promo-right p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.promo-left .promo-btn {
  position: absolute;
  right: 21px;
  bottom: 23px;
  max-width: 250px;
  padding: 10px 23px 12px 23px;
  font-size: 18px;
  line-height: 24px;
}

.promo-right .promo-btn {
  position: absolute;
  right: 21px;
  bottom: 24px;
  max-width: 250px;
  padding: 9px 21px 12px 22px;
  font-size: 18px;
  line-height: 24px;
}

          /* Промо-блок из двух баннеров. END */

          /* Стилизация товара. START */

.items-popular, .item-list { /* Убираем отступы между инлайн-блоками */
  font-size: 0;
}

.items-popular .item::before { /* Навешиваем иконку "Хит" на блок с популярными */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 61px;
  height: 61px;
  background: url("../img/icons/popular-icon.png");
}

.item-hover {
  content: "";
  position: absolute;
  top: -9px;
  bottom: -85px;
  left: -10px;
  right: -10px;
  z-index: 5;
  display: none;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.item:hover .item-hover {
  display: block;
}

.item:hover > div > a {
  border-bottom: none;
}

.item:not(:hover) .item-img-price {
  z-index: 0;
}

.item .item-link-box {
  display: block;
  margin-top: -3px;
  padding: 0 5px;
}

.quick-show {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 80%;
  padding-left: 0;
  padding-right: 0;
  transform: translate(-50%);
}

.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 23.299%;
  margin-right: 2.269%;
  margin-bottom: 38px;
  text-align: center;
  font-size: 16px; /* Восстанавливаем размер шрифта */
  line-height: 22px;
  font-weight: 500;
}

.item:nth-child(4n) {
  margin-right: 0;

}

.item-img {
  position: relative;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.item-img-price {
  position: relative;
  z-index: 10;
  max-height: 267px;
  margin-bottom: 24px;
}

.item-img-price p {
  position: relative;
  display: block;
  margin-top: -64px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-img-price p b {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  padding-right: 35px;
}

.item-img-price p b::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 79px;
  width: 33px;
  height: 37px;
  background: url(../img/icons/rouble.svg);
}

          /* Стилизация товара. END */

.advantages {
  margin-bottom: 40px;
  padding: 24px 21px 14px 21px;
  color: #323232;
  background: #e5d5af url("../img/texture-wafer.png");
  border-radius: 15px;
}

.advantages h1 {
  margin-left: -2px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.advantages img {
  float: left;
}

.advantages p {
  margin: 0;
  margin-left: 56px;
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
}

.advantage-left {
  float: left;
  width: 48.867%;
}

.advantage-right {
  float: right;
  width: 48.867%;
}

.blog-news {
  float: left;
  width: 48.867%;
  min-height: 220px;
  padding: 23px 19px;
  background: #ffffff url("../img/strawberry-bg.jpg") right center no-repeat;
  border-radius: 15px;
}

.blog-news h2 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
}

.blog-news p {
  width: 290px;
}

.blog-news a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #353535;
  background: rgba(255, 255, 255, 0.8);
}

.subscribe {
  float: right;
  width: 48.867%;
  color: #5a5a5a;
  background: #f8f7f4 url("../img/texture-postal.png");
  border-radius: 15px;
}

.subscribe-content-bg {
  position: relative;
  min-height: 210px;
  margin: 5px;
  padding: 29px 21px 21px 21px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe form {
  margin-top: 7%;
/*    margin-top: 36px;*/
}

.subscribe form input[type="email"] {
  width: 100%;
  height: 44px;
  padding: 0 13px 1px 13px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.btn-subscribe {
  float: right;
  max-width: 250px;
  margin-top: -1px;
  padding: 9px 19px 11px 19px;
  border-radius: 22px;
}

.input-email-subscribe-fix {
  padding-right: 11px;
  overflow: hidden;
}

.map-block {
  min-height: 429px;
  margin-top: 40px;
  margin-bottom: 33px;
  background: url("../img/map.jpg") center no-repeat;
}

iframe {
  width: 100%;
  height: 429px;
  border: none;
}

.contacts {
  float: right;
  width: 302px;
  min-height: 305px;
  margin: 62px 0;
  padding: 29px 24px 29px 25px;
  color: #323232;
  background-color: #fefefe;
  border-radius: 15px;
}

.contacts .adress {
  font-size: 14px;
  line-height: 20px;
  }

.contacts .adress:not(b) {

}

.contacts .adress b {
  display: block;
  margin-top: 1px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 24px;
}

.contacts .tel {
  margin-bottom: 19px;
  font-size: 14px;
  line-height: 20px;
}

.contacts .tel b {
  display: block;
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 22px;
}

.contacts .tel span {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.contacts .feedback-btn {
  width: 100%;
  margin: 5px auto 0 auto;
  padding-top: 10px;
  padding-bottom: 9px;
}

  /* ===============FOOTER=============== */

.main-footer {
  min-height: 84px;
  margin: 0 auto;
  margin-top: 32px;
  font-size: 0;
}

.social-block, .footer-menu {
  margin-right: 2.2675%;
}

.social-block {
  display: inline-block;
  vertical-align: top;
  width: 23.299%;
  margin-top: 4px;
}

.social-btn {
  float: left;
  display: block;
  width: 37px;
  height: 37px;
  margin-right: 12px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.71);
  opacity: 1;
}

.social-btn:active {
  border: 3px solid rgba(254, 254, 254, 0.7);
  box-shadow: inset 0 2px 1px #888888;
  opacity: 1;
}

.twit {
  background: url("../img/icons/twit-icon.svg") no-repeat;
  opacity: 0.8;
}

.inst {
  background: url("../img/icons/inst-icon.svg") no-repeat;
  opacity: 0.8;
}

.fb {
  background: url("../img/icons/fb-icon.svg") no-repeat;
  opacity: 0.8;
}

.vk {
  background: url("../img/icons/vk-icon.svg") no-repeat;
  opacity: 0.8;
}

.footer-menu {
  display: inline-block;
  vertical-align: top;
  width: 48.867%;
  margin-top: 1px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer-menu-left {
  float: left;
  width: 50%;
  padding-right: 40px;
  text-align: right;
}

.footer-menu-right{
  float: right;
  width: 50%;
  text-indent: -9px;
}

.footer-menu p {
  margin-bottom: 4px;
}

.footer-menu-left p:nth-child(2) {
  padding-right: 13px;
  text-align: right;
}

.heart {
  position: relative;
  font-weight: 700;
}

.heart::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 1px;
  width: 15px;
  height: 13px;
  background: url("../img/icons/heart.svg") center no-repeat;
}

.made-in {
  display: inline-block;
  vertical-align: top;
  width: 23.299%;
  margin-top: -13px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

.htmla-logo {
  margin-right: 80px;
}

.made-in p {
  margin-top: -1px;
}

  /* ===============FOOTER. END=============== */


.page-nav {           /* Пагинатор страниц */
  margin-top: 42px;
  margin-right: -9px;
  margin-bottom: 21px;
  font-size: 12px;
  text-align: right;
}

.page-nav a {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  padding-top: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
}

.page-nav a:not(.prev):not(.next):not(.active):hover {
  background: rgba(255, 255, 255, 0.2);
}

.page-nav a:not(.prev):not(.next):not(.active):active {
  color: #323232;
  background: #ffffff;
}

.page-nav .prev{
  width: 27px;
  height: 27px;
  margin-right: 2px;
  background: url("../img/icons/arrow.svg") center no-repeat;
}

.page-nav .next {
  width: 27px;
  height: 27px;
  margin-left: 4px;
  background: url("../img/icons/arrow.svg") center no-repeat;
}

.page-nav .active {
  color: #323232;
  background: #ffffff;
}

.page-nav .disabled {
  opacity: 0.2;
  transform: rotate(180deg);
}

.filters { /* Фильтры каталога */
  width: 890px;
  margin-top: 26px;
  margin-bottom: 24px;
  font-size: 0;
}

.filters legend {
  margin-bottom: 6px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}


.filters fieldset {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 0;
  padding: 0;
  font-size: 16px;
  border: none;
  outline: none;
}

.filters button {
  display: inline-block;
  vertical-align: top;
  margin-top: 22px;
  margin-left: -2px;
  padding: 7px 27px 7px 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.filters button:hover {
  color: #323232;
  background: #ffffff;
}

.filters button:active {
  color: #323232;
  background: #eaeaea;
  box-shadow: inset 0 1px 1px #696969;
}

          /* Сортировка */

.sort {
  position: relative;
  width: 193px;
}

.sort select {
  padding: 0 28px 0 10px;
  color: #ffffff;
  background-color: #a9bab0;
  border: none;
  outline:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.sort select::-ms-expand {
  display: none;
}

.sort option {
  color: #323232;
  background-color: #ffffff;
}

.sort .input-area::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  width: 8px;
  height: 5px;
  background: url("../img/icons/triangle.svg") center no-repeat;
}

.sort .input-area:hover {
  background-color: #ffffff;
}

.sort .input-area:hover .select-sort {
  color: black;
  background-color: #ffffff;
}


          /* Фильтр цены */

.price-filter {
  width: 218px;
}

.price-filter legend {
  margin-left: 14px;
}

.scale {
  height: 4px;
  margin: 9px 10px;
  background-color: rgba(248, 247, 244, 0.5);
}

.bar {
  height: 4px;
  margin-right: 60px;
  margin-left: 27px;
  background-color: #f8f7f4;
}

.toggle {
  position: absolute;
  top: 8px;
  left: 34px;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.toggle:hover {
  transform: scale(1.1);
}

.max-toggle {
  left: 132px;
}

          /* Жирность */

.fatness {
  width: 415px;
}

.fatness legend {
  margin-left: 14px;
}

.fatness input[type="radio"] {
  display: none;
}

.fatness input[type="radio"] + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 11px;
  padding-left: 29px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.fatness input[type="radio"] + label:nth-of-type(2) {
  margin-left: 16px;
}

.fatness input[type="radio"] + label:nth-of-type(3) {
  margin-left: 17px;
}

.fatness input[type="radio"] + label:nth-of-type(4) {
  margin-left: 16px;
}

.fatness input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
}

.fatness input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #f8f7f4;
  border-radius: 50%;
}

.fatness input[type="radio"]:not(:disabled) + label:hover::before {
  border-width: 2px;
}

          /* Наполнители */

.filler {
  width: 702px;
}

.filler input[type="checkbox"] {
  display: none;
}

.filler input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 11px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}

.filler input[type="checkbox"] + label:nth-of-type(2) {
  margin-left: 16px
}

.filler input[type="checkbox"] + label:nth-of-type(3) {
  margin-left: 16px
}

.filler input[type="checkbox"] + label:nth-of-type(4) {
  margin-left: 20px
}

.filler input[type="checkbox"] + label:nth-of-type(5) {
  margin-left: 16px
}

.filler input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

/*.filler input[type="checkbox"]:checked + label::before {
  background: url("../img/icons/checked-box.svg") center no-repeat;
}*/

.filler input[type="checkbox"]:checked + label::after { /*Галочка в чекбоксе из borderов*/
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 10px;
  height: 7px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg)
}

.filler input[type="checkbox"]:not(:disabled) +label:hover::before {
  border-width: 2px;
}

.input-area { /* Фон формы фильтров */
  position: relative;
  display: block;
  padding: 7px 5px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
  opacity: 0.4;
}

/* Фильтры. END */


iframe { /* Интерактивная карта */
  position: absolute;
}

.backlight { /* Подсветка фона страницы в каталоге */
  background: url("../img/bg-backlight.png") 50% 0 repeat-x;
}

        /* Фидбэк. START */

.popup-feedback {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 100;
  width: 480px;
  margin-left: -240px;
  padding: 25px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 12px;
}

.overlay { /* Затемнение страницы */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-feedback p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #f8f7f4;
  border: none;
  outline: none;
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: #000000;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.popup-feedback input[type="text"],
.popup-feedback input[type="email"] {
  width: 265px;
  margin: 0;
  margin-bottom: 20px;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.popup-feedback textarea[name="comment"] {
  width: 398px;
  min-height: 150px;
  margin-bottom: 25px;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  outline: none;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  resize: none;
}

.popup-feedback .btn {
  float: right;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  border-color: #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
}

        /* Фидбэк. END */

